<div >
  <div> Заявка на проход <%= @profile_mail.company_name %> </div>
  <div> Время <%= @pass_mail.date  %></div>
  <div> Строение <%= @pass_mail.bild  %></div>
  <div> На кого выписана заявка: <%= @pass_mail.name %> </div>
  <div> Данные: <%= @pass_mail.description %></div>


</div>
